.notification-bell {
    color: grey !important; 
    font-size: 1.8rem;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    border: none !important;
}

.notification-bell:hover {
    color: rgba(204, 173, 87, 0.788) !important;
    transform: scale(1.1);
    transition: 0.2s;
}

.notification-bell:focus,
.notification-bell:active {
    outline: none !important;
    box-shadow: 0 0 0 2px rgba(197, 161, 62, 0.788) !important; 
    background-color: transparent !important;
    color: rgba(197, 161, 62, 0.788) !important;
}

.notification-bell .p-button-icon {
    font-size: 1.7rem; 
}

.notification-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    transform: scale(0.9);
}


.notification-list {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 5px;
}

.notification-title {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #222;
}


.notification-content {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  color: #444;
  line-height: 1.5;
  margin: 0.3rem 0 0 0;
}