.input-text-username-password {
    border-radius: 10px;
    padding: 0.5em 1em; 
    min-width: 350px; 
    min-height: 50px;
    transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
    margin: 0 auto 20px auto;
    display: block;
    box-shadow: 0 0 0 0.5px rgba(204, 173, 87, 0.788) !important;
    border: 1px solid rgba(204, 173, 87, 0.788) !important;
    font-weight: bold;
    text-align: center;
}

.input-text-username-password:hover,
.input-text-username-password:focus {
    border-color: rgba(153, 101, 21, 0.9) !important; 
    box-shadow: 0 0 0 0.2rem rgba(204, 173, 87, 0.4) !important;
}

.centered-header {
    margin-bottom: 30px;
    text-align: center; 
}

.sign-in-button {
    display: block;       
    margin-top: 40px ; 
    box-shadow: none !important;
    outline: none;
    background-color: black !important; 
    color: white; 
    border-radius: 10px;
    border: none;
}

.sign-up-button {
    display: block;       
    margin: 20px auto; 
    box-shadow: none !important;
    outline: none;
    background-color: rgba(204, 173, 87, 0.788) !important; 
    color: white; 
    border-radius: 10px;
    border: none;
}

.eye-button {
    position: absolute;
    top: 35px;
    right: 10px;
    background-color:  white !important; 
    color: rgba(204, 173, 87, 0.788) !important; 
    border: none !important; 
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: none !important; 
}